.app {
  width: 100%;
  height: 100%;

  &__wrapper {
    padding: 30px;
  }

  &__body {

  }

  &__card {

  }

  &__workzone {

  }

  &__results {

  }

  &__workzone + &__results {
    margin-top: 20px;
  }

  &__footer {

  }
}

@media screen and (max-width: $tablet) {
  .app {
    &__wrapper {
      padding: 5px;
    }

    &__workzone + &__results {
      margin-top: 5px;
    }
  }
}
