.result-item {


  & + & {
    margin-top: 20px;
  }

  &__header {
    display: block;
    font-size: 35px;
    color: $blue;
  }

  &__body {
    display: block;
  }

  &__header + &__body {
    margin-top: 20px;
  }

  &__definition {
    color: $dark-brown;
  }

  &__example {
    color: $brown;
  }

  &__definition,
  &__example {
    display: block;
    font-size: 20px;
  }

  &__definition + &__example {
    margin-top: 20px;
  }
}
