.workzone {
  &__row {
    position: relative;
  }

  &__row_pushed_down {}

  &__row_centered {
    text-align: center;
  }

  &__row + &__row {
    margin-top: 15px;
  }

  &__row + &__row_pushed_down {
    margin-top: 40px;
  }

  &__transcript {
    display: block;
    font-size: 65px;
    letter-spacing: 1px;
    color: $blue;
    text-align: center;
    text-transform: capitalize;
  }

  &__button {
    width: 200px;
    height: 50px;
    border-radius: 99999px;
    background-color: $blue;
    color: $white;
    font-size: 22px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: $tablet) {
  .workzone {
    &__transcript {
      font-size: 25px;
    }

    &__row + &__row_pushed_down {
      margin-top: 15px;
    }

    &__button {
      width: 120px;
      height: 40px;
      font-size: 16px;
    }
  }
}
