// settings
@import '_includes/settings/_normalize.scss';
@import '_includes/settings/_settings.scss';
@import '_includes/settings/_reset.scss';
@import '_includes/settings/_animations.scss';

// components
@import '_includes/components/_App.scss';
@import '_includes/components/_Card.scss';
@import '_includes/components/_Workzone.scss';
@import '_includes/components/_ResultItem.scss';
@import '_includes/components/_Unsupported.scss';
